{% macro row_hash_expression(columns) -%}
sha2(
  lower(
    concat_ws('||',
      {%- for column in columns %}
      coalesce(trim(cast({{ column }} as string)), 'ø'){% if not loop.last %}, {% endif %}
      {%- endfor %}
    )
  ),
  256
)
{%- endmacro %}
